.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

.idea/
*.iml
*.iws
*.ipr
out/
capture/
local.properties
.navigation/

/captures/
*.apk
keystore.properties
*.jks
*.keystore
*.ap_
*.dex
*.class
bin/
gen/

.kotlin/
kotlin-daemon-embeddable-*.jar

/app/release
/app/build/

*.log
.DS_Store
/wear/release/
